main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c60404;
}

.character-grid {
  display: flex;
  flex-wrap: wrap;
}

.character__info {
  display: flex;
  justify-content: space-between;
}
